/* imagem de fundo e cor do texto */
    main{
        background-image: url(../image/sobre_nos/fundocafeteria.jpg);
        background-size: cover;
        color: #D9C58B;
    }

/* essa parte é da historia da cafeteria */
    /* titulo da historia */
        #about h2 {
            color: white;
        }

    /* historia */
        #about {
            padding: 10px;
            margin-left: 20px;
            max-width: 700px;
            display: flex;
            flex-direction: column;  
            gap: 20px;
            background-color:rgba(166, 112, 65, 0.7);
            text-indent: 30px;
            text-align: justify;
            word-spacing: 5px;
            
            
        }

/* essa parte é o endereço das lojas */
    /* titulo */
        #titulo_todas_lojas{
           
            
            
            
        }

    /* container das div loja  */
        #todas_lojas{
            padding: 5px;
            background-color: rgba(0, 0, 0, 0.5); /* cor temporaria*/
            display: flex;
            gap: 20px;
            height: 800px;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            
            
            
        }
    /* div loja */
    .loja{
        text-align: center;
        max-width: 275px;
        background-color: rgba(6, 248, 6, 0.5); /* cor temporaria*/
    }

    .loja img{
        max-width: 250px;
    }
