@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



/* VARIAVEIS PARA CORES DO SITE*/
:root{
    --main-color: #8C5230;
    --text-color: #D9C58B;
    --bg-color-01: #65321D;
    --bg-color-02: #261717;
    --bg-color-03: #a67041;
    --bg-color-04: #5a2d1a;

    /* cores extras */
    --color-01: #999999;
    --color-02: #009539;
    --color-03: #323946;
    --color-04: #0000001a;
    --color-05: #232323;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins;
    font-size: 20px;
    color: var(--text-color)
}

body {
    background-color: var(--bg-color-01);
}

header {
    background-color: var(--bg-color-02);
    position: sticky;
    top: 0;
    z-index: 1000;
}


/* Barra de Navegação */
nav {
    display: flex;
    padding-right: 3vw;
    min-height: 10vh;
    align-items: center;
    overflow: hidden;
}

nav ul {
    display: flex;
    margin-left: auto;
    padding-left: 2vw;
    flex-wrap: nowrap;
}

nav ul li {
    all: unset;
    transition: scale 50ms ease;
}

nav ul li a {
    all: unset;
    font-weight: 500;
    overflow: hidden;
}

.navButtom {
    cursor: pointer;
    margin-left: 3vw;
    text-decoration: none;
    font-size: 1.4ch;
}

nav ul li:hover {
    scale: 0.9;
}

nav ul li:active {
    scale: 0.85;
}



/* Logo na NavBar */
.logo {
    position: absolute;
    top: 1.5vh;
    left: 2.2vw;
}

.logo a {
    text-decoration-line: none;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.logo a img {
    width: 3vw;
    height: 3vw;
}

.logo a .title_nav_text {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    transition: 1s ease-in-out;
}

.title_nav_text {
    width: 0;
    overflow: hidden;
}

.title_nav_text, .title_nav_text_CC {
    font-size: 1.5vw;
}

.title_nav_text_CC {
    font-size: 1.8vw;
    font-weight: 700;
}




.title_nav_text, .title_nav_text_CC {
    padding-top: 0.9vh;
}

.logo a:hover .title_nav_text:nth-child(1) {
    width: 0.9vw;
    overflow: hidden;
}

.logo a:hover .title_nav_text:nth-child(2) {
    width: 2.3vw;
    overflow: hidden;
}

.logo a:hover .title_nav_text:nth-child(4) {
    width: 4.8vw;
    overflow: hidden;
}

.logo a:hover .title_nav_text:nth-child(6) {
    width: 2vw;
    overflow: hidden;
}

#menu-botao {
    display: none;
}



/* SEÇÃO DE CSS TITULO DA PAG DE DESTAQUES */
.destaque-background {
    background-image: url(../image/icones/cafecomp.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}
.titulo-texto {
    padding-top: 10px;
    letter-spacing: 1px;
    text-align: center;
}
.titulo-texto h2, span{
    font-size: 30px;
    -webkit-text-stroke: 1.25px black;
}




/* PAGINA INICIAL */

/* Carrossel pag:inicio */
.aside_1 {
    position: relative;
    width: 40vw;
    height: 80vh;
    top: 4vh;
    left: 4vw;
    gap: 2vw;
    /* padding-left: 1.9vw; */
    padding-left: 3.2vw;
    padding-right: 2vw;
    display: flex;
    overflow: hidden;
}

.aside_1::before,
.aside_1::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
}

.aside_1::before {
  left: 0px;
  box-shadow: inset 10px 0 10px 0px var(--bg-color-01);
  z-index: 100;
}

.aside_1::after {
  right: 0;
  box-shadow: inset -10px 0 10px -2px var(--bg-color-01);
  z-index: 100;
}

.aside_1 div {
    flex: 0 0 auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: var(--bg-color-03);
    width: 30vw;
    height: 75vh;
    border: black solid 1px;
    border-radius: 2vw;
    overflow: hidden;
    animation: carrossel_a 19s ease forwards;
}


/* 19s */
@keyframes carrossel_a {
    0% {
        transform: translate(-99.9%);
    }

    25% {
        transform: translate(-99.9%);
    }

    35% {
        transform: translate(-206.65%);
    }

    60% {
        transform: translate(-206.65%);
    }

    70% {
        transform: translate(-313.2%);
    }

    100% {
        transform: translate(-313.2%);
    }
}

/* 2s */
@keyframes carrossel_b {
    0% {
        transform: translate(-313.2%);
    }

    90% {
        transform: translate(-419.88%);
    }

    100% {
        transform: translate(-419.88%);
    }
}





.main_p {
    display: flex;
    flex-wrap: wrap;
}

.P_other-side {
    word-wrap: break-word;
    margin: 5vh 1vw 0vw 7vw;
    width: 50vw;
}

.P_other-side h1 {
    font-size: 5vw;
}

.button_P_C {
    text-decoration: none;
}

.button_P_CC {
    background-color: var(--main-color);
    font-size: max(1.5vw, 10%);
    width: 20vw;
    padding: 0.8vw;
    border-radius: 1.5vw;
    border: #261717 solid 0.1vw;
    text-align: center;
    transition: background-color 0.1s ease-in-out, scale 0.1s ease-in-out, border 0.1s ease-in-out;
}

.button_P_CC:hover {
    scale: 0.97;
    border-width: 0.15vw;
}

.button_P_CC:active {
    scale: 0.95;
    border-width: 0.2vw;
    background-color: #7c4b2e;
}




/* Conteúdo do Carrossel */
.carrosel_element_1 h2, .carrosel_element_2 h2, .carrosel_element_3 h2, .carrosel_element_0 h2 {
    padding: 0vw 2vw 0.5ch 0.4vw;
    font-size: 2.3ch;
    margin-left: 1ch;
}

.carrosel_element_1 p, .carrosel_element_2 p, .carrosel_element_3 p, .carrosel_element_0 p {
    /* margin: 0vw 2vw 0vh 2vw;
    padding: 0.5vw;
    font-size: 1.5ch; */

    /* width: 90%; */
    padding-left: 3.5ch;
    padding-right: 1ch;
    font-size: 1.2ch;
}

.carrosel_element_1 p b, .carrosel_element_2 p b, .carrosel_element_3 p b, .carrosel_element_0 p b {
    font-size: 1.7ch;
}

.carrosel_element_1 a, .carrosel_element_2 a, .carrosel_element_3 a, .carrosel_element_0 a {
    text-decoration-line: none;
}

.carrosel_element_1 a p, .carrosel_element_2 a p, .carrosel_element_3 a p, .carrosel_element_0 a p {
    padding-left: 0;
    padding-right: 0;
    width: 80%;
    margin: auto;
    margin-top: 1.5ch;
    border-radius: 1.2ch;
}

.carrossel_img_1, .carrossel_img_2, .carrossel_img_3 {
    height: 50%;
    width: 90%;
    object-fit: cover;
    object-position: center;
    margin: 2vh 0vw 1vh 1.5vw;
    border-radius: 1vw;
    border: #261717 solid 0.2vw;
}

.p1_buttom {
    margin: 0vw 2vw 2vh 2vw;
    background-color: var(--main-color);
    width: 15vw;
    border-radius: 1.5vw;
    border: #26171791 solid 0.1vw;
    padding: 0.5vw;
    text-align: center;
    text-decoration-line: none;
}

.p1_buttom:hover {
    scale: 0.97;
    border-width: 0.15vw;
}

.p1_buttom:active {
    scale: 0.95;
    border-width: 0.2vw;
    background-color: #7c4b2e;
}







#principal-destaque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo-destaque {
    font-size: 2em;
    margin: 20px;
}




@media screen and (max-width: 768px) {

    /* Barra de Navegação */

    .logo {
        padding: 0;
        overflow: hidden;
    }

    #menu {
        display: none;
    }

    #menu-botao {
        display: block;
        width: 100%;
        background-color: var(--bg-color-03);
    }

    #imgbotao {
        width: 30px;
        height: auto;
    }

    nav {
        min-height: 7ch;
    }

    .navButtom {
        font-size: 0.9em;
    }


    .logo a img {
        width: 3.8ch;
        height: auto;
    }

    .title_nav_text, .title_nav_text_CC {
        padding-top: 0.4ch;
        font-size: 2.5ch;
        font-weight: 700;
    }

    nav div a {
        max-width: 95vmin;
    }

    .logo a .title_nav_text:nth-child(1) {
        width: 1ch;
    }

    .logo a .title_nav_text:nth-child(2) {
        width: 2.4ch;
    }

    .logo a .title_nav_text:nth-child(4) {
        width: 5ch;
    }

    .logo a .title_nav_text:nth-child(6) {
        width: 2.2ch;
    }

    .logo a:hover .title_nav_text:nth-child(1) {
        width: 1ch;
        overflow: hidden;
    }

    .logo a:hover .title_nav_text:nth-child(2) {
        width: 2.4ch;
        overflow: hidden;
    }

    .logo a:hover .title_nav_text:nth-child(4) {
        width: 5ch;
        overflow: hidden;
    }

    .logo a:hover .title_nav_text:nth-child(6) {
        width: 2.2ch;
        overflow: hidden;
    }




    /* Pagina de Index */
    .main_p {
        flex-direction: column-reverse;
        overflow: hidden;
    }

    .P_other-side {
        width: 100%;
        font-size: 2vw;
        margin-top: 10vh;
        margin: 5vh 0vw 0vw 7vw;
        padding-right: 15vw;
    }

    #titulo-boas-vindas {
        font-size: 9vw;
    }

    .button_P_CC {
        font-size: 1.5ch;
        width: 22ch;
        margin-bottom: 1ch;
        padding: 0.5ch 1ch;
        border-radius: 1.2ch;
    }

    /* Carrossel */
    .aside_1 {
        width: 85%;
        /* height: 100vh; */
        height: 40ch;
        padding-left: 4vw;
        left: 6.5vw;
    }

    .carrosel_element_0 {
        margin-left: 5vw;
    }

    .aside_1 div {
        left: auto;
        right: auto;
        width: 85%;
        height: 80%;
        border-radius: 2ch;
    }

    /* Esquerda e Direita respectivamente */
    .aside_1::before, .aside_1::after {
        display: none;
      }

    .carrossel_img_1, .carrossel_img_2, .carrossel_img_3 {
        width: 93%;
        height: 50%;
        margin: 1ch 0vw 1ch 2.4vw;
        border-radius: 1.5ch;
        object-fit: cover;
        object-position: center;
    }

    .carrosel_element_1 h2, .carrosel_element_2 h2, .carrosel_element_3 h2 {
        font-size: 1.5ch;
    }

    .carrosel_element_1 p, .carrosel_element_2 p, .carrosel_element_3 p {
        font-size: 1ch;
    }

    /* 19s */
    @keyframes carrossel_a {
        0% {
            transform: translate(-102%);
        }

        25% {
            transform: translate(-102%);
        }

        35% {
            transform: translate(-205%);
        }

        60% {
            transform: translate(-205%);
        }

        70% {
            transform: translate(-307%);
        }

        100% {
            transform: translate(-307%);
        }
    }

    /* 2s */
    @keyframes carrossel_b {
        0% {
            transform: translate(-307%);
        }

        90% {
            transform: translate(-410.8%);
        }

        100% {
            transform: translate(-410.8%);
        }
    }


    /* página de  destaques */
    .card {
        max-width: 350px;
    }

    #imgdestaque1, #imgdestaque2, #imgdestaque3 {
        width: 280px;
        height: auto;
        margin: auto;
    }

    /* página about */
    #conteiner_das_lojas {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .loja {
        margin: auto;
    }

}








/* PAGINA DE DESTAQUES */
.card{
    background-color: rgba(166, 112, 65, 0.550);
    width: 500px;
    padding: 25px 30px;
    border-radius: 10px;
    border-top: 2px solid var(--bg-color-02);
    border-left: 2px solid var(--bg-color-02);
    border-right: 2px solid var(--bg-color-02);
    border-bottom: 2px solid var(--bg-color-02) ;
    line-height: 1.7;
    margin-top: 10px;
    backdrop-filter: blur(10px);
    margin: auto;

    z-index: 10;
}
.card h2 {
    text-align: center;
    font-size: 30px;
}
.destaque-container {

    width: 400px;
    height: 250px;
    overflow: hidden;
}
.destaque-container img {
    width: 100%;
    height: 100%;
    margin-left: 25px;
    object-fit: cover;
}

/* CARD DE CAFÉ */
#ch {
    display: none;

}
label {
    transition: scale 70ms ease;
}
label:hover {
    scale: 0.9;
}

#ch:checked ~ .content {
    display: block;
}
#ch:checked ~ label {
    display: none;
}
.content {
    display: none;
}

/* CARD DE EMPREGADOS */
#ch-emp {
    display: none;
}
#ch-emp:checked ~ .content {
    display: block;
}
#ch-emp:checked ~ label {
    display: none;
}

#ch-work {
    display: none;
}
#ch-work:checked ~ .content {
    display: block;
}
#ch-work:checked ~ label {
    display: none;
}

label {
    display: inline-block;
    cursor: pointer;
    color: antiquewhite;
    background-color: #232323;
    padding: 3px 13px;
    border-radius: 3px;
    margin-top: 12px;
}
/* FIM SEÇÃO DE CSS PAG DE DESTAQUES */


/* FOOTER DAS PAGINAS */
footer {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--bg-color-04);
}

footer p {
    font-size: 1.2ch;
}
/* FIM DO FOOTER */


